
body{
    background-color:lightseagreen
}

h1{
    color:midnightblue;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color:azure;
}

p {
    color:azure;
}

aside {
    color:azure;
}

ul {
    color:azure;
}

p + ul {
    background-color:rgb(125, 161, 238);
    text-align: center;
}
