
body{
    background-color: #334259;
}

h1{
    color:midnightblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color:azure;
}

p {
    color:azure;
}

aside {
    color:azure;
}

ul {
    color:azure;
}

p + ul {
    background-color:rgb(125, 161, 238);
    text-align: center;
}

header {
    
   text-align: center; 
    background-color: #a6cad4;
}

#nav {
   
    list-style-type: none;
    background-color: #a6cad4;
    display:grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
}

li{
    justify-content:center;
}

#one{
    display:flex;
    width: 800px;
    flex-direction: row-reverse;
    align-items:flex-start;
}
#two{
    display:flex;
    width: 550px;
    flex-wrap: wrap;
}
footer{
    diplay:flex;
    justify-content: center;
    text-align: center;
    background-color: #a6cad4;
}
.items{
    justify-content: center;
}