
body{
    background-color:lightseagreen
}

h1{
    color:midnightblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color:azure;
}

p {
    color:azure;
}

aside {
    color:azure;
}

ul {
    color:azure;
}

p + ul {
    background-color:rgb(125, 161, 238);
    text-align: center;
}

header {
    
    text-align: center;
    background-color: #a6cad4;
}

#nav {
   
    list-style-type: none;
    background-color: #a6cad4;
    display:grid;
    grid-template-columns: 100px 100px;
    align-items: center;
}
.items{
    
}
    
li{
    flex:1 200px;
}